@model IEnumerable<Final_ProjectWeb_Mohamad_Nour.Models.registration>

@{
    ViewBag.Title = "Index";
}

<h2>Add a new emplyee</h2>

<p>
    @Html.ActionLink("New emplyee", "Create", null, new { @class= "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identification_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group.group_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job.position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identification_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.group.group_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job.position)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id },new { @class = "btn btn-success" })|
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
